@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    background-image: url(../images/starry-sky-pixabay.jpg);
}

/* Header */

h1 {
 font-family: Orbitron, sans-serif;
 font-size: 55px;
 color: #4f2a7f;
 text-shadow: 3px 3px 6px #fff7f6;
 display: flex;
 justify-content: center;
}

p {
    font-family: Orbitron, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #fff7f6;
    text-shadow: 3px 3px 6px black;
}

/* Button Choices */

.choices {
    display: flex;
    justify-content: center;
}

.choice {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#rock {
    background:transparent url(../images/static-images/rock-static.png) center top no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

#rock:hover {
    background-image: url(../images/moving-images/giphy-rock.gif);
}

#paper {
    background:transparent url(../images/static-images/paper-static.png) center top no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

#paper:hover {
    background-image: url(../images/moving-images/giphy-paper.webp);
}

#scissors {
    background:transparent url(../images/static-images/sciss-static.png) center top no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

#scissors:hover {
    background-image: url(../images/moving-images/giphy-sciss.gif);
}

#lizard {
    background:transparent url(../images/static-images/lizard-static.png) center top no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

#lizard:hover {
    background-image: url(../images/moving-images/giphy-lizard.gif);
}

#spock {
    background:transparent url(../images/static-images/spock-static.png) center top no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

#spock:hover {
    background-image: url(../images/moving-images/giphy-spock.gif);
}

/* Score section */
.player {
    background-color: #4f2a7f;
    float: left;
    width: 45%;
}
.computer {
    background-color: #4f2a7f;
    float: left;
    width: 45%;
}

#player-image {
    width: 75%;
}